{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class='content-section'>
        <form method='POST'>
            {% csrf_token %}
            <fieldset class='form-group'> 
                <legend class='border-bottom mb-4'>Login</legend>
                {{form| crispy}}
            </fieldset>

            <div class='from-goup'>
                <button class='btn btn-outline-info' type="submit">Sign In</button>
            </div>            
        </form>

        <div class='border-top pt-3'> 
            <small class='text-muted'>Need  an account ?</small>
            <a class='ml-2' href="{% url 'register' %}">Sign Up</a>

        </div>

    </div>
{% endblock content %}